<template>
  <div id="adminBar" :class="{'open': show}">
    <div class="ada-bar">
      <a aria-label="Admin Panel" rel="noreferrer" class="admin-link bar-button admin" :href="adminUrl" target="_blank" >
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 447.674 447.674" style="enable-background:new 0 0 447.674 447.674;" xml:space="preserve"><g><path :style="'fill:'+fontColor+''" d="M134.289,138.16h-24.722l67.399,190.521l37.732-107.825l-29.254-82.696H159.36v-18.154h115.508 v18.154h-27.049l67.398,190.521l24.227-69.234c31.781-88.702-26.048-116.333-26.048-136.129s16.048-35.843,35.843-35.843 c1.071,0,2.111,0.058,3.13,0.153c-33.541-31.663-78.768-51.08-128.534-51.08c-65.027,0-122.306,33.146-155.884,83.458h66.336 v18.154L134.289,138.16L134.289,138.16z"/><path :style="'fill:'+fontColor+''" d="M36.548,223.837c0,71.704,40.302,133.986,99.483,165.458l-84.52-238.919 C41.883,172.932,36.548,197.761,36.548,223.837z"/><path :style="'fill:'+fontColor+''" d="M386.833,131.547c2.679,15.774,1.868,33.503-2.243,51.301h0.745l-2.832,8.092l0,0 c-1.678,5.843-3.791,11.82-6.191,17.693l-64.444,180.541c59.057-31.51,99.256-93.725,99.256-165.338 C411.124,190.279,402.29,158.788,386.833,131.547z"/><path :style="'fill:'+fontColor+''" d="M166.075,402.033c18.195,5.894,37.603,9.091,57.762,9.091c19.228,0,37.777-2.902,55.239-8.285 l-54.784-154.862L166.075,402.033z"/><path :style="'fill:'+fontColor+''" d="M382.113,65.56C339.836,23.283,283.625,0,223.836,0S107.837,23.283,65.56,65.56S0,164.047,0,223.837 c0,59.789,23.283,115.999,65.56,158.276s98.488,65.56,158.277,65.56s115.999-23.283,158.277-65.56 c42.277-42.277,65.56-98.488,65.56-158.276C447.673,164.047,424.39,107.837,382.113,65.56z M223.836,431.883 c-114.717,0-208.046-93.329-208.046-208.046S109.119,15.79,223.836,15.79s208.046,93.33,208.046,208.047 S338.554,431.883,223.836,431.883z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
          <span>Admin panel</span>
      </a> 
      <a v-if="currentPageId" class="bar-button edit-current" :href="adminUrl+'/post.php?post='+currentPageId+'&action=edit'" target="_blank" rel="noreferrer" aria-label="Edit current">
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="20" height="20" style="-ms-transform:rotate(360deg);-webkit-transform:rotate(360deg)" viewBox="0 0 20 20" transform="rotate(360)"><defs/><path :style="'fill:'+fontColor+''" d="M13.89 3.39l2.71 2.72c.46.46.42 1.24.03 1.64l-8.01 8.02-5.56 1.16 1.16-5.58s7.6-7.63 7.99-8.03c.39-.39 1.22-.39 1.68.07zm-2.73 2.79l-5.59 5.61 1.11 1.11 5.54-5.65zm-2.97 8.23l5.58-5.6-1.07-1.08-5.59 5.6z"/><path fill="rgba(0, 0, 0, 0)" d="M0 0h20v20H0z"/></svg>
        <span>Edytuj</span>
      </a>

      <div class="admin-dropdown">
        <button class="bar-button" arial-label="Add new">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" width="20" height="20" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20"><path d="M17 7v3h-5v5H9v-5H4V7h5V2h3v5h5z" :fill="fontColor"/><rect x="0" y="0" width="20" height="20" fill="rgba(0, 0, 0, 0)" /></svg>
          <span>Dodaj nowy</span>
        </button>

        <ul aria-visible="false" class="dropdown">
            <li v-for="(type, i) in postTypes" :key="i" >
                <a :aria-label="'Add new '+type" rel="noreferrer" target="_blank" :href="adminUrl+'/post-new.php?post_type='+type">+ Nowy {{type}}</a>
            </li>
        </ul>
      </div>
      <div class="right">
        <div @click="proxyAxios" class="bar-button">
          Proxy call
        </div>
        <div @click="directAxios" class="bar-button">
         Direct
        </div>
        <div class="bar-button user-welcome">
          Witaj: {{currentUser}} 
        </div>
              <div v-if="isDev" @click="showConfig = !showConfig" :class="{ 'is-active': showConfig }" class="bar-button config-btn">
          {{ showConfig ? 'Hide' : 'Show' }} cfg
        </div>
        <div v-if="isDev" @click="showCurrentPageInfo = !showCurrentPageInfo" :class="{ 'is-active': showCurrentPageInfo }" class="bar-button current-page">
          {{ showCurrentPageInfo ? 'Hide' : 'Show' }} Page Data
        </div>
      </div>
      <button aria-label="Admin Bar show/hide" class="hide-admin" @click="toggleAdminBar" >
        <svg :class="{'show' : show }" width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.714286 0L0.714286 20" transform="matrix(-4.371139E-08 -1 1 -4.371139E-08 1 11.71436)" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M20 0L10 10L0 0" transform="matrix(-4.371139E-08 -1 1 -4.371139E-08 11 21)" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>
    <div v-if="isDev" class="config cfg-data" :class="{ 'is-showing': showConfig }">
      <pre v-show="showConfig" v-html="pageConfig" />
    </div>
    <div v-if="isDev && currentPage" class="config page-data" :class="{ 'is-showing': showCurrentPageInfo }">
      <pre v-show="showCurrentPageInfo" v-html="currentPage" />
    </div>

  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  data(){
    return{
      isDev: process.env.NODE_ENV === 'development',
      show: true,
      showConfig: false,
      showCurrentPageInfo: false,
      fontColor: '#fff',
      currentPage: false
    }
  },
  computed: {
    ...mapGetters({
      //user: 'auth/currentUser',
      adminUrl: 'config/backendUrl',
      pageConfig: 'config/getConfig',
      postTypes: 'config/allowedPostTypes',
    }),
    currentUser(){
      return this.user || 'Dev'
    },
    currentPageId(){
      if(this.currentPage && this.currentPage.id) return this.currentPage.id
      else return null
    }
  },
  methods:{
    toggleAdminBar(){
        this.show = !this.show;
    },
    directAxios(){
      const now = new Date().getTime()
      this.$axios.$get('api/cached/config.json?cache='+ now).then((res) => {
        console.log(res)
      })
    },
    proxyAxios(){
      const now = new Date().getTime()
      this.$axios.$get('https://backend.jirosan.pl/wp-content/themes/backend/api/cached/config.json?cache='+ now).then((res) => {
        console.log(e)
      })
    }
  }
}
</script>

<style lang="scss" scoped>
$themeColor: #1B1B1B;
$fontColor: #fff;
#adminBar{
  font-size: 16px;
  background-color: darken($themeColor, 8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 35px;
  top: -35px;
  transition: top 0.16s ease-in-out;
  text-align: left;
  z-index: 9999;
  .ada-bar{
    display: flex;
    position: relative;
    z-index: 25;
    height: inherit;
    .right{
      display: flex;
      flex: 1;
      justify-content: flex-end;
      padding-right: 30px;
    }
  }
  &.open{
      top: 0;
      .hide-admin{
          top: 0;
      }
  }
    .admin-dropdown{
        position: relative;
        &:hover{
            .dropdown{
                display: block;
            }
        }
        .dropdown{
            display: none;
            margin: 0;
            padding: 0;
            list-style: none;
            position: absolute;
            left: 0;
            a{
                display: block;
                padding: 4px 15px;
                background: darken($themeColor, 10);
                color: $fontColor;
                text-decoration: none;
                white-space: nowrap;
                &:hover{
                    background-color: $themeColor;
                }
            }
        }
    }
    .bar-button{
        cursor: pointer;
        background: $themeColor;
        border:1px solid darken($themeColor, 5);
        color: $fontColor;
        text-decoration: none;
        padding: 4px 10px;
        display: inline-block;
        display: flex;
        height: 100%;
        align-items: center;
        &.config-btn {
          background-color: #607d8b;
        }
        &.current-page {
          background-color: #607d8b;
        }
        &.is-active{
          background-color: #2196f3;
        }
        
        &:hover{
            background-color: darken($themeColor, 5);
        }
        svg{
            margin-right: 10px;
            width: 23px;
            height: 23px;
        }
        @media only screen and (max-width: 767px) {
            span{
                display: none;
            }
            svg{
                margin-right: 0px;
            }
        }
    }

    .user-edit{
        align-self: flex-end;
        &:before {
            content: "";
            flex: auto;
        }
        svg{
            margin: 0;
        }
    }
    .hide-admin{
        position: absolute;
        right: 0;
        bottom:0;
        min-height: 35px;
        top: 35px;
        transition: top 0.16s ease-in-out;    
        border: none;
        background: $themeColor;
        cursor: pointer;
        svg{
            transform: rotate(90deg);
            transition: 0.15s transform ease-in-out;
            &.show{
                transform: rotate(-90deg);
            }
        }
    }
  .config {
    position: fixed;
    padding-top: 40px;
    top: 0;
    right: 0;
    height: auto;
    z-index: 19;
    color: #fff;
    transition: 0.1s background ease-in-out;
    &.is-showing {
      background: rgba(0, 0, 0, 0.95);
      bottom: 0;
      left: 50%;
      height: 100%;
      overflow-x: scroll;
      pre {
        padding: 25px;
      }
    }
  }
}
</style>